# TUPLES

In [16]:
# tuple olusturma yontemleri

tuple()

()

In [17]:
print(tuple("techpro education"))

('t', 'e', 'c', 'h', 'p', 'r', 'o', ' ', 'e', 'd', 'u', 'c', 'a', 't', 'i', 'o', 'n')

In [18]:
name ="techpro"

In [19]:
tuple(name)

('t', 'e', 'c', 'h', 'p', 'r', 'o')

In [20]:
tuple_1=tuple("pinar")
tuple_1

('p', 'i', 'n', 'a', 'r')

In [21]:
type(tuple_1)

tuple

In [22]:
tuple(1453)

TypeError: 'int' object is not iterable

In [ ]:
tuple([1,2,3])

(1, 2, 3)

In [ ]:
["techpro"]

['techpro']

In [ ]:
type(["techpro"])

list

In [ ]:
("techpro")

'techpro'

In [ ]:
type(("techpro"))

str

In [ ]:
("techpro"),

('techpro',)

In [ ]:
type(("techpro",))

tuple

In [ ]:
len(("techpro",))

1

In [ ]:
("techpro","education")

('techpro', 'education')

In [ ]:
type(("techpro","education"))

tuple

In [ ]:
3,14

(3, 14)

In [ ]:
type(3,14)

TypeError: type() takes 1 or 3 arguments

In [ ]:
type((3,14))

tuple

In [ ]:
tuple_2=1,"techpro",True

In [ ]:
tuple_2

(1, 'techpro', True)

In [ ]:
type(tuple_2)

tuple

In [ ]:
name_1="furkan"

In [ ]:
name_2,name_3="furkan","yusuf","aybuke"

ValueError: too many values to unpack (expected 2)

In [ ]:
name_4="furkan","yusuf"

In [ ]:
name_4

('furkan', 'yusuf')

In [ ]:
name_5="yahya"

In [ ]:
name_5

'yahya'

In [ ]:
("ahmet","mehmet")+("ismail",)

('ahmet', 'mehmet', 'ismail')

In [ ]:
("ahmet","mehmet")*2

('ahmet', 'mehmet', 'ahmet', 'mehmet')

## indexing

In [ ]:
tuple_3=('ahmet', 'mehmet', 'ismail')
tuple_3

('ahmet', 'mehmet', 'ismail')

In [ ]:
tuple_3[0]

'ahmet'

In [ ]:
tuple_3[0][0]

'a'

In [ ]:
tuple_3[0]="faruk"

TypeError: 'tuple' object does not support item assignment

In [ ]:
("ali","mehmet")+"zeki"

TypeError: can only concatenate tuple (not "str") to tuple

In [ ]:
("ali","mehmet")+("zeki")

TypeError: can only concatenate tuple (not "str") to tuple

In [ ]:
("ali","mehmet")+("zeki",)

('ali', 'mehmet', 'zeki')

In [ ]:
"dada",

('dada',)

In [ ]:
tuple("dada",)

('d', 'a', 'd', 'a')

In [ ]:
tuple(("dada",))

In [ ]:
list(("dada",))

['dada']

In [ ]:
list("dada",)

['d', 'a', 'd', 'a']

## range()

In [ ]:
range(4,15)

range(4, 15)

In [ ]:
list(range(4,15))

[4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [ ]:
tuple(range(4,15))

(4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14)

In [ ]:
tuple(range(4,15,2))

(4, 6, 8, 10, 12, 14)

In [ ]:
tuple(range(3,15,-1))

()

In [ ]:
tuple(range(15,3,-1))

(15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4)

In [ ]:
tuple(range(10))

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [ ]:
tuple(range(-5,10))

(-5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [ ]:
range(-5,10)[0]

-5

In [ ]:
list(range(20,9,-2))

[20, 18, 16, 14, 12, 10]

In [23]:
tuple(range(4,15,1.5)) # tam sayilarla calisir

TypeError: 'float' object cannot be interpreted as an integer

In [24]:
potpori=(3,4.5,False,[1,2,3],(4,5,6),"Halil")
potpori

(3, 4.5, False, [1, 2, 3], (4, 5, 6), 'Halil')

In [25]:
potpori[3]

[1, 2, 3]

In [28]:
type(potpori[3])

list

In [26]:
potpori[3].append(4)

In [27]:
potpori

(3, 4.5, False, [1, 2, 3, 4], (4, 5, 6), 'Halil')

## immutable

In [29]:
potpori.index(3)

0

In [30]:
potpori.index([1, 2, 3, 4])

3

In [31]:
[1, 2, 3, 4,"techpro"].index("techpro")

4

In [32]:
(1,2,3,2,4,5,3).index(2)

1

In [33]:
(1,2,3,2,4,5,3).count(2)

2

iki tane nesne isteyin kullanicidan type int ise toplayin.

In [39]:
nesne_1=input("lutfen bir metin ya da tamsayi giriniz")
nesne_2=input("lutfen bir daha metin ya da tamsayi giriniz")

if nesne_1.isnumeric() and nesne_2.isnumeric() :
 print(int(nesne_1)+int(nesne_2))
else :
 print("Girilen deger int olmadigi icin toplama islemi gerceklesmedi")

Girilen deger int olmadigi icin toplama islemi gerceklesmedi