## min(),max()

In [2]:
liste_1=[4,9,68,52,41,2,3,75,6]

In [3]:
min(liste_1)

2

In [4]:
max(liste_1)

75

In [5]:
min([1,2,3"techpro","education"])

SyntaxError: invalid syntax. Perhaps you forgot a comma? (1586229631.py, line 1)

In [6]:
max(["hello","world","techpro"])

'world'

In [7]:
max([True,1])

True

In [8]:
max([True,1.0])

True

In [9]:
max([1,True])

1

In [10]:
max(["hello","World","techpro"])

'techpro'

In [11]:
ord("W")

87

In [12]:
ord("w")

119

In [14]:
max(["hello","World","techpro"], key=str.lower)

'World'

In [15]:
"Hello".lower

In [16]:
"Hello".lower()

'hello'

In [21]:
sayilar_listesi = [1, 4, 56, 18, 47, 96, 325, 1, 5, 4, 7, 8, -8, -400, 0, 47]

sayilar_listesi.sort()

print(sayilar_listesi[0])
print(sayilar_listesi[-1])

-400
325

In [2]:

sayilar_listesi = [1, 4, 56, 18, 47, 96, 325, 1, 5, 4, 7, 8, -8, -400, 0, 47]

en_kucuk = sayilar_listesi[0]
en_buyuk = sayilar_listesi[0]
x = 0

while x < len(sayilar_listesi):
    if sayilar_listesi[x] < en_kucuk:
        en_kucuk = sayilar_listesi[x]
    if sayilar_listesi[x] > en_buyuk:
        en_buyuk = sayilar_listesi[x]
    x += 1

print("En küçük sayi:", en_kucuk)
print("En büyük sayi:", en_buyuk)

En küçük sayi: -400
En büyük sayi: 325

# LOOPS - for

for degisken in iterable :
    kod satiri/satirlari

In [3]:
for i in "techpro":
    print(i.upper())

T
E
C
H
P
R
O

In [4]:
for i in [1,2,3,4,5]:
    print(i*i)

1
4
9
16
25

In [5]:
for i in (1,2,3,4,5):
    print(i*i)

1
4
9
16
25

In [6]:
for i in 2023:
    print(i**2)

TypeError: 'int' object is not iterable

In [10]:
liste_2=[1,2,3,4,5]

In [11]:
for sayi in liste_2:
    print(sayi ** 2, end=' ')

1 4 9 16 25

In [16]:
liste_2 = [1, 2, 3, 4, 5]

for i, sayi in enumerate(liste_2):
    print(sayi ** 2, end='*' if i < len(liste_2) - 1 else '')

1*4*9*16*25

In [17]:
text = "Techpro"
result = '-'.join(text)
print(result)

T-e-c-h-p-r-o

In [ ]:
"Techpro" 
"T-e-c-h-p-r-o"

In [19]:
empty_str =""
for i in "Techpro":
    empty_str+=i + "-"
print(empty_str.rstrip("-"))

T-e-c-h-p-r-o

In [20]:
empty_str =""
for i in "Techpro":
    empty_str+=i + "-"
    print(empty_str.rstrip("-"))

T
T-e
T-e-c
T-e-c-h
T-e-c-h-p
T-e-c-h-p-r
T-e-c-h-p-r-o

In [21]:
tuple_1=(1,2,3,4,5,5)
set(tuple_1)

{1, 2, 3, 4, 5}

In [25]:
empty_set=set()
for i in tuple_1:
    empty_set.add(i)

In [26]:
empty_set

{1, 2, 3, 4, 5}

In [27]:
dict_1={"name" : "safiullah","surname":"wahab","age":32}

In [28]:
for i in dict_1:
    print(i)

name
surname
age

In [29]:
for i in dict_1.values():
    print(i)

safiullah
wahab
32

In [31]:
dict_1.items()

dict_items([('name', 'safiullah'), ('surname', 'wahab'), ('age', 32)])

In [34]:
for i,j in dict_1.items():
    print(f"key :{i},value:{j}")

key :name,value:safiullah
key :surname,value:wahab
key :age,value:32

In [43]:
for i,j in dict_1.items():
    print(f"key :{i:<10},value:{j}")

key :name      ,value:safiullah
key :surname   ,value:wahab
key :age       ,value:32

In [44]:
for i,j in dict_1.items():
    print(f"key :{i:>10},value:{j}")

key :      name,value:safiullah
key :   surname,value:wahab
key :       age,value:32

In [45]:
for i,j in dict_1.items():
    print(f"key :{i:^10},value:{j}")

key :   name   ,value:safiullah
key : surname  ,value:wahab
key :   age    ,value:32

In [46]:
for i,j in dict_1.items():
    print(f"key :{i:10},value:{j}")

key :name      ,value:safiullah
key :surname   ,value:wahab
key :age       ,value:32

In [47]:
liste_3=[("name1","name2","name3"),("halil","fatih","ediz"),(25,30,17)]
liste_3

[('name1', 'name2', 'name3'), ('halil', 'fatih', 'ediz'), (25, 30, 17)]

In [53]:
[("name1","name2","name3"),("halil","fatih","ediz"),(25,30,17)]

[('name1', 'name2', 'name3'), ('halil', 'fatih', 'ediz'), (25, 30, 17)]

In [48]:
for i,j,k in liste_3:
    print(i,j,k,sep="*")

name1*name2*name3
halil*fatih*ediz
25*30*17

In [49]:
for i,j,k in liste_3:
    print(i,j,sep="*")

name1*name2
halil*fatih
25*30

In [50]:
for i,j in liste_3:
    print(i,j,sep="*")

ValueError: too many values to unpack (expected 2)

In [51]:
for i in True:
    print(i)

TypeError: 'bool' object is not iterable

In [ ]:
#sonsuz dongu calistirma
liste_4=[1]
for i in liste_4:
    print(i)
    liste_4.append(5)

In [54]:
for i in range(50):
    print("hoca bizi cok seviyor")

hoca bizi cok seviyor
hoca bizi cok seviyor
hoca bizi cok seviyor
hoca bizi cok seviyor
hoca bizi cok seviyor
hoca bizi cok seviyor
hoca bizi cok seviyor
hoca bizi cok seviyor
hoca bizi cok seviyor
hoca bizi cok seviyor
hoca bizi cok seviyor
hoca bizi cok seviyor
hoca bizi cok seviyor
hoca bizi cok seviyor
hoca bizi cok seviyor
hoca bizi cok seviyor
hoca bizi cok seviyor
hoca bizi cok seviyor
hoca bizi cok seviyor
hoca bizi cok seviyor
hoca bizi cok seviyor
hoca bizi cok seviyor
hoca bizi cok seviyor
hoca bizi cok seviyor
hoca bizi cok seviyor
hoca bizi cok seviyor
hoca bizi cok seviyor
hoca bizi cok seviyor
hoca bizi cok seviyor
hoca bizi cok seviyor
hoca bizi cok seviyor
hoca bizi cok seviyor
hoca bizi cok seviyor
hoca bizi cok seviyor
hoca bizi cok seviyor
hoca bizi cok seviyor
hoca bizi cok seviyor
hoca bizi cok seviyor
hoca bizi cok seviyor
hoca bizi cok seviyor
hoca bizi cok seviyor
hoca bizi cok seviyor
hoca bizi cok seviyor
hoca bizi cok seviyor
hoca bizi cok seviyor
hoca bizi cok seviyor
hoca bizi cok seviyor
hoca bizi cok seviyor
hoca bizi cok seviyor
hoca bizi cok seviyor

In [55]:
for i in range(1, 51):
    print(f"{i}. hoca bize ceza verdi")

1. hoca bize ceza verdi
2. hoca bize ceza verdi
3. hoca bize ceza verdi
4. hoca bize ceza verdi
5. hoca bize ceza verdi
6. hoca bize ceza verdi
7. hoca bize ceza verdi
8. hoca bize ceza verdi
9. hoca bize ceza verdi
10. hoca bize ceza verdi
11. hoca bize ceza verdi
12. hoca bize ceza verdi
13. hoca bize ceza verdi
14. hoca bize ceza verdi
15. hoca bize ceza verdi
16. hoca bize ceza verdi
17. hoca bize ceza verdi
18. hoca bize ceza verdi
19. hoca bize ceza verdi
20. hoca bize ceza verdi
21. hoca bize ceza verdi
22. hoca bize ceza verdi
23. hoca bize ceza verdi
24. hoca bize ceza verdi
25. hoca bize ceza verdi
26. hoca bize ceza verdi
27. hoca bize ceza verdi
28. hoca bize ceza verdi
29. hoca bize ceza verdi
30. hoca bize ceza verdi
31. hoca bize ceza verdi
32. hoca bize ceza verdi
33. hoca bize ceza verdi
34. hoca bize ceza verdi
35. hoca bize ceza verdi
36. hoca bize ceza verdi
37. hoca bize ceza verdi
38. hoca bize ceza verdi
39. hoca bize ceza verdi
40. hoca bize ceza verdi
41. hoca bize ceza verdi
42. hoca bize ceza verdi
43. hoca bize ceza verdi
44. hoca bize ceza verdi
45. hoca bize ceza verdi
46. hoca bize ceza verdi
47. hoca bize ceza verdi
48. hoca bize ceza verdi
49. hoca bize ceza verdi
50. hoca bize ceza verdi

In [58]:
#kullanicidan 1 ile 9 arasinda bir sayi girmsini isteyin ve girilen sayinin carpim tablosunu olusturun
sayi = int(input("Lütfen 1 ile 9 arasinda bir sayi girin: "))

if 1 <= sayi <= 9:
    for i in range(1, 11):
        print(f"{sayi:^2} x {i:^2} = {sayi * i}")
else:
    print("Girdiğiniz sayi 1 ile 9 arasinda değil.")

6  x 1  = 6
6  x 2  = 12
6  x 3  = 18
6  x 4  = 24
6  x 5  = 30
6  x 6  = 36
6  x 7  = 42
6  x 8  = 48
6  x 9  = 54
6  x 10 = 60

In [59]:
while True:
    sayi = int(input("Lütfen 1 ile 9 arasinda bir sayi girin: "))

    if 1 <= sayi <= 9:
        for i in range(1, 11):
            print(f"{sayi} x {i} = {sayi * i}")
        break
    else:
        print("Girdiğiniz sayi 1 ile 9 arasinda değil. Lütfen tekrar deneyin.")

Girdiğiniz sayı 1 ile 9 arasında değil. Lütfen tekrar deneyin.
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60

In [3]:
while True:
    number = int(input("1 ile 9 arasında bir sayı girin"))
    if 1 <= number <= 9:
       for i in range(1,11):
            print(f"{number} x {i:<2} = {number * i}")
       break
    else:
        print("1 ile 9 arasinda bir sayi girmenizi istemiştim.")

1 ile 9 arasinda bir sayi girmenizi istemiştim.
2 x 1  = 2
2 x 2  = 4
2 x 3  = 6
2 x 4  = 8
2 x 5  = 10
2 x 6  = 12
2 x 7  = 14
2 x 8  = 16
2 x 9  = 18
2 x 10 = 20

In [4]:
text = "Code"
result = ""

for i in range(1, len(text) + 1):
    result += text[:i]

print(result)

CCoCodCode