## zip()

In [2]:
a=["apple","orange","lemon"]
b=[1,2,3]

In [3]:
zip(a,b)

In [4]:
list(zip(a,b))

[('apple', 1), ('orange', 2), ('lemon', 3)]

In [5]:
tuple(zip(a,b))

(('apple', 1), ('orange', 2), ('lemon', 3))

In [6]:
x="techpro"
y="enes"
z="ali"

In [7]:
list(zip(x,y,z))

[('t', 'e', 'a'), ('e', 'n', 'l'), ('c', 'e', 'i')]

In [8]:
list(zip("techpro",[1,2,3,4],[]))

[]

In [9]:
name=["murat","enes","koray"]
age=[35,25,23]
job=["data_analyst","python_developer","data_scientist"]

In [12]:
for i,j,k in zip(name,age,job):
    print(f"{i:<10}{j:<5}{k:<15}")

murat     35   data_analyst
enes      25   python_developer
koray     23   data_scientist

In [13]:
print(list(zip(name,age,job)))

[('murat', 35, 'data_analyst'), ('enes', 25, 'python_developer'), ('koray', 23, 'data_scientist')]

In [14]:
for i in zip(name,age,job):
    print(i)

('murat', 35, 'data_analyst')
('enes', 25, 'python_developer')
('koray', 23, 'data_scientist')

In [1]:
liste_1=["techpro","educatin"]*50
len(liste_1)

100

In [2]:
list(zip(range(1,101),liste_1))

[(1, 'techpro'),
 (2, 'educatin'),
 (3, 'techpro'),
 (4, 'educatin'),
 (5, 'techpro'),
 (6, 'educatin'),
 (7, 'techpro'),
 (8, 'educatin'),
 (9, 'techpro'),
 (10, 'educatin'),
 (11, 'techpro'),
 (12, 'educatin'),
 (13, 'techpro'),
 (14, 'educatin'),
 (15, 'techpro'),
 (16, 'educatin'),
 (17, 'techpro'),
 (18, 'educatin'),
 (19, 'techpro'),
 (20, 'educatin'),
 (21, 'techpro'),
 (22, 'educatin'),
 (23, 'techpro'),
 (24, 'educatin'),
 (25, 'techpro'),
 (26, 'educatin'),
 (27, 'techpro'),
 (28, 'educatin'),
 (29, 'techpro'),
 (30, 'educatin'),
 (31, 'techpro'),
 (32, 'educatin'),
 (33, 'techpro'),
 (34, 'educatin'),
 (35, 'techpro'),
 (36, 'educatin'),
 (37, 'techpro'),
 (38, 'educatin'),
 (39, 'techpro'),
 (40, 'educatin'),
 (41, 'techpro'),
 (42, 'educatin'),
 (43, 'techpro'),
 (44, 'educatin'),
 (45, 'techpro'),
 (46, 'educatin'),
 (47, 'techpro'),
 (48, 'educatin'),
 (49, 'techpro'),
 (50, 'educatin'),
 (51, 'techpro'),
 (52, 'educatin'),
 (53, 'techpro'),
 (54, 'educatin'),
 (55, 'techpro'),
 (56, 'educatin'),
 (57, 'techpro'),
 (58, 'educatin'),
 (59, 'techpro'),
 (60, 'educatin'),
 (61, 'techpro'),
 (62, 'educatin'),
 (63, 'techpro'),
 (64, 'educatin'),
 (65, 'techpro'),
 (66, 'educatin'),
 (67, 'techpro'),
 (68, 'educatin'),
 (69, 'techpro'),
 (70, 'educatin'),
 (71, 'techpro'),
 (72, 'educatin'),
 (73, 'techpro'),
 (74, 'educatin'),
 (75, 'techpro'),
 (76, 'educatin'),
 (77, 'techpro'),
 (78, 'educatin'),
 (79, 'techpro'),
 (80, 'educatin'),
 (81, 'techpro'),
 (82, 'educatin'),
 (83, 'techpro'),
 (84, 'educatin'),
 (85, 'techpro'),
 (86, 'educatin'),
 (87, 'techpro'),
 (88, 'educatin'),
 (89, 'techpro'),
 (90, 'educatin'),
 (91, 'techpro'),
 (92, 'educatin'),
 (93, 'techpro'),
 (94, 'educatin'),
 (95, 'techpro'),
 (96, 'educatin'),
 (97, 'techpro'),
 (98, 'educatin'),
 (99, 'techpro'),
 (100, 'educatin')]

# enumerate()

In [17]:
a

['apple', 'orange', 'lemon']

In [18]:
enumerate)(a)

SyntaxError: unmatched ')' (4074781944.py, line 1)

In [19]:
list(enumerate(a))

[(0, 'apple'), (1, 'orange'), (2, 'lemon')]

In [20]:
list(enumerate(liste_1,1))

[(1, 'techpro'),
 (2, 'educatin'),
 (3, 'techpro'),
 (4, 'educatin'),
 (5, 'techpro'),
 (6, 'educatin'),
 (7, 'techpro'),
 (8, 'educatin'),
 (9, 'techpro'),
 (10, 'educatin'),
 (11, 'techpro'),
 (12, 'educatin'),
 (13, 'techpro'),
 (14, 'educatin'),
 (15, 'techpro'),
 (16, 'educatin'),
 (17, 'techpro'),
 (18, 'educatin'),
 (19, 'techpro'),
 (20, 'educatin'),
 (21, 'techpro'),
 (22, 'educatin'),
 (23, 'techpro'),
 (24, 'educatin'),
 (25, 'techpro'),
 (26, 'educatin'),
 (27, 'techpro'),
 (28, 'educatin'),
 (29, 'techpro'),
 (30, 'educatin'),
 (31, 'techpro'),
 (32, 'educatin'),
 (33, 'techpro'),
 (34, 'educatin'),
 (35, 'techpro'),
 (36, 'educatin'),
 (37, 'techpro'),
 (38, 'educatin'),
 (39, 'techpro'),
 (40, 'educatin'),
 (41, 'techpro'),
 (42, 'educatin'),
 (43, 'techpro'),
 (44, 'educatin'),
 (45, 'techpro'),
 (46, 'educatin'),
 (47, 'techpro'),
 (48, 'educatin'),
 (49, 'techpro'),
 (50, 'educatin'),
 (51, 'techpro'),
 (52, 'educatin'),
 (53, 'techpro'),
 (54, 'educatin'),
 (55, 'techpro'),
 (56, 'educatin'),
 (57, 'techpro'),
 (58, 'educatin'),
 (59, 'techpro'),
 (60, 'educatin'),
 (61, 'techpro'),
 (62, 'educatin'),
 (63, 'techpro'),
 (64, 'educatin'),
 (65, 'techpro'),
 (66, 'educatin'),
 (67, 'techpro'),
 (68, 'educatin'),
 (69, 'techpro'),
 (70, 'educatin'),
 (71, 'techpro'),
 (72, 'educatin'),
 (73, 'techpro'),
 (74, 'educatin'),
 (75, 'techpro'),
 (76, 'educatin'),
 (77, 'techpro'),
 (78, 'educatin'),
 (79, 'techpro'),
 (80, 'educatin'),
 (81, 'techpro'),
 (82, 'educatin'),
 (83, 'techpro'),
 (84, 'educatin'),
 (85, 'techpro'),
 (86, 'educatin'),
 (87, 'techpro'),
 (88, 'educatin'),
 (89, 'techpro'),
 (90, 'educatin'),
 (91, 'techpro'),
 (92, 'educatin'),
 (93, 'techpro'),
 (94, 'educatin'),
 (95, 'techpro'),
 (96, 'educatin'),
 (97, 'techpro'),
 (98, 'educatin'),
 (99, 'techpro'),
 (100, 'educatin')]

In [21]:
set(zip(a,b))

{('apple', 1), ('lemon', 3), ('orange', 2)}

In [22]:
dict(zip(a,b))

{'apple': 1, 'orange': 2, 'lemon': 3}

In [23]:
dict(zip(x,y,z))

ValueError: dictionary update sequence element #0 has length 3; 2 is required

### Soru1: Liste icerisindeki en kucuk ve en buyuk sayilar arasindaki kayip sayilari bulun

In [24]:
num = [48, 10, 11, 21, 36, 5, 6, 52, 28, 29,
       53, 54, 45, 19, 20, 47, 55, 39, 41, 7,
       9, 17, 26, 27, 42, 22, 37, 51, 46, 18,
       44, 30, 34, 13, 15, 35, 33, 16, 50, 24]

In [29]:
num = [48, 10, 11, 21, 36, 5, 6, 52, 28, 29,
       53, 54, 45, 19, 20, 47, 55, 39, 41, 7,
       9, 17, 26, 27, 42, 22, 37, 51, 46, 18,
       44, 30, 34, 13, 15, 35, 33, 16, 50, 24]
for i in range(min(num),max(num)):
    if  i in num:
        continue
    else:
        print(i)

8
12
14
23
25
31
32
38
40
43
49

In [30]:
empty_list=[]

for i in range(min(num),max(num)):
    if i not in num:
        empty_list.append(i)
print(empty_list)

[8, 12, 14, 23, 25, 31, 32, 38, 40, 43, 49]

In [32]:
set(range(min(num),max(num)+1))-set(num)

{8, 12, 14, 23, 25, 31, 32, 38, 40, 43, 49}

In [33]:
# 3 ncü yöntem
full_set = set(range(min(num), max(num)+1))
num_set = set(num)
full_set - num_set

{8, 12, 14, 23, 25, 31, 32, 38, 40, 43, 49}

In [34]:
liste_2 = [1,4,8,25,96,88,44,75,36,27,24,15]

In [43]:
liste_2 = [1,2,3,4,5,6]
liste=[]

for i in liste_2:
    if i%2==0:
       liste.append(i*i)
    if i%2==1:
       liste.append(i)   
print (liste)

[1, 4, 3, 16, 5, 36]

# List Comprehension

In [45]:
liste_3=[1,2,3,4,5]
empty_list=[]
for i in liste_3:
    empty_list.append(i**2)
print(empty_list)

[1, 4, 9, 16, 25]

In [46]:
[   i**2     for i in liste_3 ]

[1, 4, 9, 16, 25]

In [47]:
liste_4 = ["renault*","fiat?!","ford?!"]
liste_4

['renault*', 'fiat?!', 'ford?!']

In [49]:
new_list=[]
for i in liste_4:
    new_list.append(i.replace("*","").replace("?","").replace("!","")) 
print(new_list)

['renault', 'fiat', 'ford']

In [51]:
[i.replace("*","").replace("?","").replace("!","") for i in liste_4]

['renault', 'fiat', 'ford']

In [54]:
[   i**2    for i in liste_3 if i%2       ]

[1, 9, 25]

In [57]:
[ i if i% 2==1  else i**2  for i in[1,2,3,4,5,6]       ]

[1, 4, 3, 16, 5, 36]

## nested loops

In [58]:
for i in ["Omer","Eren","Nazim"]:
    for j in [1,2,3,4,5]:
        print(i,j)

Omer 1
Omer 2
Omer 3
Omer 4
Omer 5
Eren 1
Eren 2
Eren 3
Eren 4
Eren 5
Nazim 1
Nazim 2
Nazim 3
Nazim 4
Nazim 5

In [60]:
for i in range(1,2):
    for j in range(0,11):
        print(f"{i} x {j}={i * j}")

1 x 0=0
1 x 1=1
1 x 2=2
1 x 3=3
1 x 4=4
1 x 5=5
1 x 6=6
1 x 7=7
1 x 8=8
1 x 9=9
1 x 10=10

In [63]:
for i in [1,2]:
    for j in ["Cumali","Sibel"]:
        for k in ["****"]:
            print(i,j,k)

1 Cumali ****
1 Sibel ****
2 Cumali ****
2 Sibel ****

In [ ]:
# kullanicinin girdigi bir sayinin  Armstrong number olup olmadigini tespit eden bir algoritma olusturun

In [ ]:
sayi=int(input("lutfen bir tamsayi giriniz"))

for i in sayi

In [64]:
number = int(input("Bir sayi girin: "))
print(f"{number} bir Armstrong sayisidir."
       if number == sum(int(i) ** 3 for i in str(number)) else f"{number} bir Armstrong sayisi degildir.")

153 bir Armstrong sayısıdır.

In [68]:
# 10 ile 1000 arasindaki armstrong sayilari bulun
for number in range(10, 1000):
    if number == sum(int(i) ** 3 
        for i in str(number)):
            print(number)

153
370
371
407

In [4]:
# 10 ile 10000 arasindaki armstrong sayilari bulun
[i for i in range(10, 10000) if i == sum(int(i) ** 3 for i in str(i))]

[153, 370, 371, 407]