# Data Types

In [ ]:
"Hello world" # str

In [1]:
print(type("Enes"))

<class 'str'>

In [2]:
type("sedat") ##bu format jupyter e ozel bir durumdur(print yazmadan yazdirmak)

str

In [3]:
type("3")

str

In [4]:
type(3)

int

In [5]:
print(type(3))

<class 'int'>

In [6]:
age=31

In [7]:
type(age)

int

In [8]:
type(3.14)

float

In [10]:
pi_number="3.14"

In [11]:
type(pi_number)

str

In [12]:
type(False)

bool

In [13]:
type(True)

bool

In [14]:
type(false)

NameError: name 'false' is not defined

In [16]:
name_1="Ediz"
age=25

In [17]:
type(name_1,age)

TypeError: type() takes 1 or 3 arguments

In [18]:
type(name_1)
type(age)#print ile yazmadigimiz icin sadece son satiri verdi.

int

In [20]:
print(type(name_1))
print(type(age))

<class 'str'>
<class 'int'>

# Type Coversion

## all types to str

In [23]:
age=31

In [27]:
converted_age = str(age)
print(converted_age)
print(type(converted_age))

31
<class 'str'>

In [26]:
converted_age = str(age)
converted_age

'31'

In [29]:
pi_number = 3.14
type(pi_number)

float

In [30]:
converted_pi_number = str(pi_number)
converted_pi_number

'3.14'

In [31]:
str(pi_number)

'3.14'

In [32]:
name_1

'Ediz'

In [33]:
x=False
y=True

In [34]:
str(x)

'False'

## str to int or float

In [36]:
sayi_1 = "35"
sayi_2= "otuz"

In [37]:
int(sayi_1)

35

In [38]:
type(int(sayi_1))

int

In [39]:
int(sayi_2)

ValueError: invalid literal for int() with base 10: 'otuz'

In [40]:
sayi_3 = "3.14"
sayi_4 = "3,14"
sayi_5 = "ucnoktaondort"

In [41]:
float(sayi_3)

3.14

In [42]:
type(float(sayi_3))

float

In [43]:
float(sayi_4)

ValueError: could not convert string to float: '3,14'

In [45]:
float(sayi_5)

ValueError: could not convert string to float: 'ucnoktaondort'

In [46]:
converted_sayi_3 = float(sayi_3)
print(type(converted_sayi_3))
print(type(sayi_3))

<class 'float'>
<class 'str'>

In [47]:
sayi_3 = float(sayi_3)

##  float to int or int to float

In [49]:
sayi_6 = 24
sayi_7 = 5.4
print(type(sayi_6))
print(type(sayi_7))

<class 'int'>
<class 'float'>

In [50]:
float(sayi_6)

24.0

In [51]:
int(sayi_7)

5

In [52]:
int(5.99999)

5

In [53]:
int(-4.8)

-4

In [54]:
int(-4.3)

-4

In [55]:
int(5.9999999999999999999999999999999999999) # 16 basamakli ve ustu olursa bir ust sayiya yuvarlar

6

## Bool to int or float

In [57]:
x= False
y= True
print(type(x))
print(type(y))

<class 'bool'>
<class 'bool'>

In [58]:
int(x)

0

In [59]:
int(y)

1

In [60]:
float(x)

0.0

In [61]:
float(y)

1.0

In [62]:
x,y,z ="apple","banana","orange"
print(x)
print(y)
print(z)

apple
banana
orange

In [63]:
x,y,z="apple","banana","orange","strawberry"
print(x)
print(y)
print(z)

ValueError: too many values to unpack (expected 3)

In [64]:
z="apple","banana","orange","strawberry"
print(z)

('apple', 'banana', 'orange', 'strawberry')

In [70]:
person="Fatih"
age=26
deparment="Data scientist"
person="Ahmet"
age=35
departman="web developer"
salary=160000

In [71]:
print(person)
print(deparment)
print(salary)
print(age)

Ahmet
Data scientist
160000
35

In [72]:
jan=31
feb=28
march=31

In [73]:
print(jan,feb,march)

31 28 31

In [78]:
jan,march,may,jul,august,oct,dec =31,31,31,31,31,31,31
feb=28
apr,jun,sep,nov=30,30,30,30

In [79]:
print(jan,feb,march,apr,may,jun,jul,august,sep,oct,nov,dec)

31 28 31 30 31 30 31 31 30 31 30 31

In [80]:
jan=march=may=jul=august=oct=dec =31
feb=28
apr=jun=sep=nov=30

In [81]:
print(jan,feb,march,apr,may,jun,jul,august,sep,oct,nov,dec)

31 28 31 30 31 30 31 31 30 31 30 31